<app-header> </app-header>

<div class = "image"></div>
 <header> ΠΑΡΕ ΤΟΝ ΑΠΟΣΤΟΛΗ</header>
<div class="box-container">
  <div class="box">
    <a>Collection</a>
  </div>
  <div class="box">
    <a href="#">Wantlist</a>
  </div>
</div>















<!-- <ul class="artist-list">
    <li *ngFor="let artist of artists" class="artist-item">
      <div class="artist-info">
        <img src="https://i.discogs.com/yTfsPqn8VIDfzbPHyox3vIXiOs2XRruOca4T9dLEf0c/rs:fit/g:sm/q:90/h:320/w:304/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTIzMTE1/LTEyODY4MTE3ODQu/anBlZw.jpeg " alt="Artist Image" class="artist-image">
        <div class="artist-details">
          <h3 class="artist-name">{{ artist.artistName }}</h3>
          <p class="real-name">{{ artist.realName }}</p>
          <p class="artist-id">ID: {{ artist.artistId }}</p>
        </div>
      </div>
    </li>
  </ul> -->
