.box-container {
  width: 100%;
  display: flex;
  margin-top: 5%;
  }
  .box-container :hover
  {
    background:linear-gradient(black, white);
    
  }
  header
  {
    font-size: 50px;
    text-align: center;
    background-color: green;
  }
  .image
  {
    padding-bottom: 5%;
    padding-top: 15%;
    background-color: aquamarine;
    background-image: url("https://wallpapercave.com/wp/wp8301020.jpg");
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Resize the image to cover the entire container */
    background-position: center; /* Center the image within the container */
}
  
  .box 
  {
    width: 50%;
    height: 200px;
    background-color: gray;
    background:linear-gradient(gray, black);
    text-align: center;
    vertical-align: 50%;
    padding-right: 2%;
  }


  .box a
  {
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .box a:hover
  {
    /* color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase; */
  }