.container
{
    background-color: rgb(38, 35, 35);
    margin-top: 3%;
}
.even-columns
{
    display: flex;
}
.image
{
    width: 60px;
}
.col
{
    padding: 10px;
}
.col{
    color: aliceblue; 
   text-decoration: none;
   
}
.col a{
    color: aliceblue; 
   text-decoration: none;
   
}
.col a:hover{
    color: rgb(5, 138, 255); 
   text-decoration: none;
   
}