
<div class ="container">
    <div class="content flow">
        <div class="even-columns">

            <div class = col> 
                <img class="image" src ="https://i.discogs.com/f0jv1GdkuaKD7I-T2gGt_Xo_FwH2_9RCURGpD39Uk18/rs:fit/g:sm/q:90/h:416/w:416/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEzODM2/Ny0xMTYzNjE5NDAx/LmpwZWc.jpeg" alt="">
            </div> 
            <div class="col" > <a>{{releaseDetails.Title}}</a></div>
            <div class="col" > <a>Genre : {{releaseDetails.Genre}}</a></div>
            <div class="col" > <a>Style : {{releaseDetails.Style}}</a></div>
            <div class="col" > <a>Release Date : {{releaseDetails.ReleaseYear}}</a></div>
            <div class="col" > <a>Country :  {{releaseDetails.Country}}</a></div>
            <div class="col" > <a>Condition : {{releaseDetails.Condition?.ConditionName}}</a></div>
        </div>
    </div>
        

    
   
    
   </div>
