<div class ="box">
    <div class="title">
        <h2 > Artist - Album Title</h2>
    </div>
    
    <img class="image" src ="https://i.discogs.com/f0jv1GdkuaKD7I-T2gGt_Xo_FwH2_9RCURGpD39Uk18/rs:fit/g:sm/q:90/h:416/w:416/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEzODM2/Ny0xMTYzNjE5NDAx/LmpwZWc.jpeg" alt="">
   
    <div class="details">
    <p> Genre : Electronic </p>
    <p>  Style : Acid Trance</p>
    <p>  Release Data : 1993</p>
    <p> Country : Greece</p>
    <p> Condition : Very Good + </p>
   </div>

</div>
